.plus-button {
    top:10px;
    margin-left:10px;
}

.minus-button {
    top:8px;
    margin-left:10px;
}

.add-field {
    z-index:0;
    margin-left: -10px;
}

.remove-field {
    z-index:-1;
}

#canvas .pagination { margin: 0px 0px !important;}

.dark .dataTables_filter label{
    margin-left: -2%;
    margin-top: 2%;
    padding-right: 3%;
}

/************* custom style ************/

.filterDiv .dropdown-toggle{
    min-width: 25%;
    background-color: #F2F2F2;}

.curve-btn{
    border-radius: 2px;
}

.filterDiv .btn-label{ text-align: center;}

span{ font-family: "Roboto", Arial, Helvetica, sans-serif;}

body.dark svg.marks .mark-group .background {
    fill: #1E2531 !important;
}

.filterDiv .dropdown-menu {
    left: 18px !important;
    background-color: #ffffff;
    box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
}

.filterDiv{
    background: #E3E5E6;
    margin-top: 20px;
    padding: 20px 20px;
}
/********************* end style ****************/


